In [1]:
print("Hi 0807")

Hi 0807

In [2]:
變數一 = 1

In [3]:
變數一

1

In [4]:
變數二 = 變數一

In [5]:
變數一, 變數二

(1, 1)

In [6]:
a = b = c =20

In [7]:
a, b, c

(20, 20, 20)

In [11]:
age, name = 18, 'ing-zhen'

In [12]:
age, name

(18, 'ing-zhen')

In [13]:
A = B = C = 50

In [14]:
a, b, c, A, B, C

(20, 20, 20, 50, 50, 50)

In [15]:
早餐 = 65

In [22]:
午餐 = 150

In [23]:
餐費 = 早餐 + 午餐

In [24]:
print(餐費)

215

In [25]:
三天餐費 = 餐費*3

In [26]:
print(三天餐費)

645

In [31]:
d = 2
e = 3
f = 4

In [32]:
d

2

In [33]:
e

3

In [34]:
f

4

In [35]:
' ' '
g = 6
h = 7
i = 8
' ' '

SyntaxError: unterminated string literal (detected at line 1) (2445104394.py, line 1)

In [36]:
週三氣溫 = 33

In [37]:
週四氣溫 = 32

In [38]:
週五氣溫 = 33

In [39]:
週六氣溫 = 33

In [40]:
四天溫度平均 = (週三氣溫 + 週四氣溫 + 週五氣溫 + 週六氣溫)/4

In [42]:
print(四天溫度平均)

32.75

In [44]:
週三氣溫, 週四氣溫, 週五氣溫, 週六氣溫 = 10, 20, 30, 40

In [45]:
print(週三氣溫, 週四氣溫, 週五氣溫, 週六氣溫)

10 20 30 40

In [47]:
print((週三氣溫 + 週四氣溫 + 週五氣溫 + 週六氣溫)/4)

25.0

In [48]:
一天花費 = 300

In [49]:
週花費 = 一天花費*7

In [50]:
print(週花費)

2100

In [51]:
月花費 = 一天花費*30

In [52]:
print(月花費)

9000